.contact {
    display: grid;
    justify-items: center;
}

.contact .title {
    margin: 0.7rem 0rem;
}

.contact form {
    justify-self: start;
    display: grid;
    grid-template-columns: auto;
    gap: 0.3rem;

    width: 100%;
}

.contact form * {
    margin: 0rem 3vw;
}

.contact form input:not(.contact form input[type='submit']) {
    min-width: min(20ch, 80vw);
    max-width: 30vw;
}

.contact form textarea {
    height: 10em;
}

.contact form input[type='submit'] {
    justify-self: end;
    width: 8ch;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
}