.menu {
    display: grid;
    grid-template-rows: auto auto;
}

.menu .title {
    text-align: center;
    margin-bottom: 3rem;
}

.menu .items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    padding: 0rem 3rem;
}

.food-card {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 0.5rem;
}

.food-card img {
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    border-radius: 1rem;
    border: 1px solid black;
}

.food-card h3 {
    text-align: center;
    margin: 0%;
    font-weight: 400;
}